    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
    * {
        box-sizing: border-box;
        scroll-behavior: smooth;
        padding: 0;
        margin: 0;
        font-family: 'Poppins', sans-serif;
    }
    
    .container {
        margin: 0 auto;
        max-width: 100%;
        padding: 0;
    }
    /**************** header ****************/
    
    .container-fluid {
        max-width: 80%;
    }
    /**************** hero ****************/
    
    .navbar {
        font-weight: 500;
    }
    
    #logo {
        color: #0A5ED7;
        font-weight: 700;
        font-size: 1.6rem;
    }
    
    .navbar-brand a:hover,
    .navbar-brand a:visited,
    .navbar-brand a:active,
    #navbarSupportedContent-4 a:visited {
        color: #0A5ED7;
    }
    
    #navbarSupportedContent-4 a {
        margin: 0 1.5rem;
        font-size: 1.1rem;
        color: #609ff8c7;
    }
    
    #navbarSupportedContent-4 a:hover {
        color: #0A5ED7;
    }
    
    .active {
        color: #0A5ED7;
    }
    
    .navbar-toggler,
    .navbar-toggler-icon {
        background-color: #0A5ED7;
    }
    /**************** End of Hero ****************/
    /**************** End of header ****************/
    /*
    *
    *
    *
    *
    */
    /**************** Grouped Selectors ****************/
    
    .card {
        padding: 0 0 .3rem;
        margin: 2rem auto;
        border: none;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
        transition: all .6s ease;
        text-align: center;
    }
    
    .card:hover {
        opacity: .9;
    }
    
    .card-icons {
        font-size: 10vh;
        margin: 2rem auto;
        text-align: center;
        color: #0B3EF0;
    }
    
    .services-h,
    .projects-h,
    .forth-section-h {
        font-size: 3rem;
        margin: 3rem auto;
        font-weight: 700;
        color: #0B3EF0;
        text-align: center;
    }
    
    .main-section,
    .projects,
    .services,
    .forth-section {
        padding: 3rem 0;
    }
    /**************** End of Grouped Selectors ****************/
    /*
    *
    *
    *
    *
    */
    /**************** First SECTION ****************/
    
    .main-section {
        color: #FFFFFF;
        min-height: 100vh;
    }
    
    .main-section .p-5 {
        margin-top: 10rem;
    }
    
    .main-section .display-2 {
        color: #0B3EF0;
        font-weight: 700;
        font-size: 5rem;
    }
    /**************** END First SECTION ****************/
    /*
    *
    *
    *
    *
    */
    /**************** services SECTION ****************/
    
    .services,
    .forth-section {
        background-color: #FFFFFF;
    }
    /**************** END OF services SECTION ****************/
    /*
    *
    *
    *
    *
    */
    /**************** projects SECTION ****************/
    
    .main-section,
    .projects,
    footer {
        background-color: #000025;
    }
    /**************** END OF projects SECTION ****************/
    /**************** END OF Main ****************/
    /*
    *
    *
    *
    *
    */
    /****************  Footer****************/
    
    footer {
        color: #fff;
        font-size: 1rem;
    }
    /**************** END OF Footer ****************/
    
    @media (min-width: 1199.98px) {
        .main-section .p-5 {
            margin-left: 9vw;
        }
    }
    
    @media (max-width: 1199.98px) {
        .main-section .p-5 {
            margin-left: 9vw;
        }
    }
    
    @media (max-width: 991.98px) {
        .main-section .p-5 {
            margin: 0 auto;
            text-align: center;
        }
    }
    
    @media (max-width: 767.98px) {
        .container-fluid {
            max-width: 100%;
        }
        .main-section .p-5 {
            margin: 0 auto;
            text-align: center;
        }
    }
    
    @media (max-width: 575.98px) {
        .container-fluid {
            max-width: 80%;
        }
        .main-section {
            min-height: 90vh;
        }
        .main-section .p-5 {
            margin: 0 auto;
            text-align: center;
        }
        .card:hover {
            transform: scale(1.1);
        }
        .main-section {
            color: #FFFFFF;
            min-height: 100vh;
        }
    }